SNMP_COMMUNITY=public
SNMP_PORT=161
SNMP_TIMEOUT=2
SNMP_RETRIES=1
OLT_TIMEZONE=Asia/Jakarta
FASTAPI_PORT=8000
DEFAULT_VENDOR=zte
CLI_USERNAME=admin
CLI_PASSWORD=change_me
CLI_SECRET=
CLI_SSH_PORT=22
CLI_TELNET_PORT=23
CLI_TIMEOUT=10
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PREFIX=zte-olt-fastapi
CACHE_TTL_ONU=60
CACHE_TTL_ONUS=300
CACHE_TTL_ONUS_NEW=300
CACHE_TTL_ONUCLI=60
ZABBIX_URL=
ZABBIX_TOKEN=
ZABBIX_TIMEOUT=5
DEBUG=0
